* {
    padding: 0;
    margin: 0;
}

h1, h2 {
    text-align: center;
}

.scoring {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.capture {
    margin-bottom: 15px;
}

.capture > span {
    font-size: 2em;
    margin-left: 5px;
    margin-right: 5px;
}

.alphabet {
    justify-content: center;
    margin-top: 10px;
}

.alphabet > span {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.rules {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}

.rules > li {
    margin-bottom: 4px;
}

.false {
    background-color: #ee2211;
    text-decoration: line-through;
}

.true {
    background-color: #1e7e34;
    text-decoration: line-through;
}

.infobulle > span {
    display: none;
}

#inputTest:hover {
    background-color: #ee2211;
}

.infobulle:hover span {
    display: block;
}

#tete, #corps, #jgauche, #jdroite, #socle, #poutre, #topbar, #renfort, #corde, #bras {
    display: none;
}

#info {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

#info.open {
    display: flex;
}

#info.closed {
    display: none;
}


